.cssTarget {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.currentIcon {
  max-height: 140px;
  max-width: 1400px;
}

.goodUV {
  color: chartreuse;
}

.mediumUV {
  color: gold;
}

.badUV {
  color: rgb(189, 0, 0);
}
